@import '../../utils/styles/sass/_variables';

.tags {
    color: $third-color;
}

.tags li {
    display: inline-block;
    align-items: center;
    padding: 0.2em 2em;
    background-color: $primary-color;
    list-style: none;
    border-radius: 5px;
    font-size: 0.7em;
    
}

ul {
    display: flex;
    padding-left: 0;
    gap: 1em;
}