@import '../../utils/styles/sass/_variables';

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 4vw;
    width: 90vw;
    margin: 0 auto;
}



@media (min-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr)!important;
    }
}

@media (min-width: 768px) {
    .home-card{
        width: 90vw;
        margin: 0 auto;
        border-width: 2px;
        border-style: solid;
        border-color: $fourth-color;
        padding-top: 4vw;
        border-radius: 15px;
        background-color: $fourth-color;
        margin-bottom: 4vw;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        border-radius: 15px;
        width: 80vw;

    }
}


