@import '../../utils/styles/sass/_variables';

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 1.5em;


    .card img {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 13em;
        object-fit: cover;
        border-radius: 0.3em;
    }
    .card {
      position: relative;
  }
  
  .card h2 {
      position: absolute;
      bottom: 0.3em; 
      left: 0.6em; 
      color: $third-color;
      font-size: 1em; 
      text-shadow: 0 0 1em $secondary-color;
  }
  
}

.banner-text {
    position: absolute;
    top: 5vh; 
    left: 30vw;
    transform: translate(-50%, -50%); 
    color: $third-color;
    font-size: 1.5em;
}

@media screen and (min-width: 768px) {
    .banner-text {
        top: 2vh;
        left: 22vw;
        font-size: 2em;
    }
}

@media screen and (min-width: 1024px) {
    .banner-text {
        top: 1.5vh;
        font-size: 2em;
    }
}
  