@import '../../utils/styles/sass/_variables';

.arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 0.6em;
    border-radius: 0.3em;

    .collapse-title, .arrow-icons  {
        color: $third-color;
    }
}

.collapse-children {
    border-radius: 0.3em;
    padding: 0.6em;
    background-color: $fourth-color;
    display: none; /* Par défaut, la div est cachée */
}

.collapse-children.open {
    display: block; /* Lorsque la classe 'open' est ajoutée, la div est affichée */
}