@import '../../utils/styles/sass/_variables';

.arrow-container {
    z-index: 999;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 0 3vw;
    border-radius: 5px;

    .collapse-title, .arrow-icons  {
        color: $third-color;
    }
    .arrow-icons {
        cursor: pointer;
        transition: transform 0.5s, opacity 0.5s;
    }
    &.up .arrow-icons {
        transform: rotate(-180deg);
    }

}


.collapse-children {
    border-radius: 0.3em;
    padding: 0.6em;
    color: $primary-color;
    background-color: $fourth-color;
    filter: brightness(90%);
    opacity: 0;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;    transition: 0.5s ease-in-out, 0.5s ease-in-out, transform 0.5s ease-in-out;
    overflow: hidden;
    ul {
        flex-direction: column;
        list-style: none;
    }
}

.collapse-children.open {
    opacity: 1;
    transform: scaleY(1);
    max-height: 500px;
    margin-top: -10px; 
    margin-bottom: 3vw; 
    ul {
        flex-direction: column;
        list-style: none;
    }
}
.collapse-children p {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;    transition: 0.5s ease-in-out 0.5s, 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.collapse-children.open p {
    opacity: 1;
    transform: scaleY(1);

}

@media screen and (min-width: 768px) {
    .arrow-container {
        padding: 0 1vw;
        border-radius: 5px;
    }
}