@import '../../utils/styles/sass/_variables';

.arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 0 0.6em;
    border-radius: 0.3em;

    .collapse-title, .arrow-icons  {
        color: $third-color;
    }
}

.collapse-children {
    border-radius: 0.3em;
    padding: 0.6em;
    color: $primary-color;
    background-color: $fourth-color;
    filter: brightness(90%);
    opacity: 0;
    max-height: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.collapse-children.open {
    opacity: 1;
    transform: translateY(0);

    max-height: 500px; /* ajustez cette valeur en fonction de votre contenu */   
    ul {
        flex-direction: column;
        list-style: none;
    }
}
.collapse-children p {
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out 0.5s, max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.collapse-children.open p {
    opacity: 1;
}