@import '../../utils/styles/sass/_variables';

// Styles pour le Header
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
    margin: auto;
    padding: 1.5em 0 1.5em 0;
  
    .header_logo {
        width: 9em;
        height: 3em;
    }
  
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
  
        li {
          
          a {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            color: $primary-color;
          }
          a.active {
            border-bottom: 1px solid $primary-color; 
          }
        }
      }
    }
  }

.header-accueil {
  margin-right: 1em;
}
