@import '../../utils/styles/sass/_variables';

// Styles pour le Header
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw; 
    margin: 0 auto; 
    height: 4vw;
    padding: 2vw 0;
  
    .header_logo {
        width: 11vw;
        height: 4vw;
    }
  
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
  
        li {
          
          a {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            color: $primary-color;
            font-size: 1.5vw;
          }
          a.active {
            border-bottom: 1px solid $primary-color; 
          }
        }
      }
    }
  }

.header-accueil {
  margin-right: 3vw;
}
