@import '../../utils/styles/sass/_variables';


.carousel {
    position: relative;
    margin: 1em;
}
.carousel-img {
    object-fit: cover;
    width: 100%;
    height: 16em;
    border-radius: 5%;

}

.carousel .arrow {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    transform: translateY(350%);
    width: 1em;
    height: 2em;
}

.image-count {
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translate(-50%);
    color: $third-color;
    text-shadow: 0 0 1em $secondary-color;
}

.arrow_left {
    left: 1em;
}

.arrow_right {
    right: 1em;
}
