@import '../../utils/styles/sass/_variables';
@import '../../utils/styles/sass/_base';

.locpage-container h2 {
    color: $primary-color;
}

.rating_host-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1.2em;

}

.rating-star {
    margin-bottom: 10px;
  
    .star {
      color: $primary-color;
    }
  
    .empty-star {
        color: $third-color;
        filter: brightness(80%);
    }
}

.host {
    display: flex;
    align-items: flex-end;
    gap: 0.7em;
    
    p {
        text-align: right;
        color: $primary-color;
        max-width: 5em;
        margin: unset;
    }

    img {
        width: 3em;
        height: 3em;
        border-radius: 50px;
    }
}
    
.collapse-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-bottom: 1.5em;
}