@import '../../utils/styles/sass/_variables';

.error-container {
    display: flex;
    flex-direction: column;

    h1 {
        display: flex;
        justify-content: center;
        color: $primary-color;
        font-size: 6em;
    }

    p {
        display: flex;
        justify-content: center;
        color: $primary-color;

    }

    .error-link {
        color: $secondary-color;
    }
}