@import '../../utils/styles/sass/_variables';

.banner {
  position: relative;
  height: 8em;
  width: 100%;
  margin: auto;
  
  .banner_img1 {
    height: 6em;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center bottom;

    }
  
    .banner_text {
      position: absolute;
      top: 1em;
      left: 0.5em; 
      color: $thrid-color;
      font-size: 1.5em;
      text-align: start;
      z-index: 1;
    }
    
  }
  