@import '../../utils/styles/sass/_variables';

.container {
  width: 90vw; 
  margin: 0 auto;
  padding-bottom: 4vw; 
}

.banner {
  position: relative;
  height: 17vw;
  width: 100%;
  
  .banner_img1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(70%);

    }
  .banner-text {
    position: absolute;
    top: 1vh; 
    left: 3vw;
    color: $third-color;
    font-size: 3vw;
  }

    
}
  
@media screen and (min-width: 768px) {
  .banner-text {
      top: 1vh;
      padding-left: 4em;
  }

  .banner-text br {
      display: none;
  }
}