@import '../../utils/styles/sass/_variables';

.container {
  width: 90vw; 
  margin: 0 auto; 
}

.banner {
  position: relative;
  height: 17vw;
  width: 100%;
  
  .banner_img1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);

    }
  

    
}
  